{% extends 'base.html' %}

{% block title %}{{entry.title}} - {{ blog.title }}{% endblock %}

{% block header %}
{% if edit %}
<div class="userinfo">
    <a alt="edit entry" href="/editor?entry={{entry.key.id}}"><i class="fa fa-fw fa-pencil-square"></i></a>
</div>
<div class="userinfo">
    <form id="delete-form" action="/editor" method="POST">
        {% csrf_token %}
        <input type="hidden" name="entry" value="{{ entry.key.id }}">
        <input type="hidden" name="delete" value="1">
        <button id="delete_button" name="submit" type="submit" value="submit"></button>
        <label class="delete-button" for="delete_button">
        <i class="fa fa-fw fa-trash-o"></i>
        </label>
    </form>
</div>
{% endif %}
<h1><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
{% endblock %}

{% block main %}
<article class="entry">
    <h1>{{ entry.title }}</h1>
    <p>Created {{ entry.created|date:"c" }}</p>
    <ul class="tags">
        {% for tag in entry.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <div class="content">
        {% autoescape off %}
        {{ entry.content }}
        {% endautoescape %}
    </div>
</article>
{% endblock %}
{% block scripts %}
<script src="/static/deleter.js"></script>
{% endblock %}
