{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}


{% block header %}
{% if user %}
<div class="userinfo">
    <a alt="create new entry" href="/editor?blog={{blog.key.id}}"><i class="fa fa-fw fa-plus-square"></i></a>
</div>
{% endif %}
<h1>{{ blog.title }}</h1>
{% endblock %}

{% block main %}
<section class="entries">
    {% for entry in entries %}
    <article class="entry">
        <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
        <p>Created {{ entry.created|date:"c" }}</p>
        <ul class="tags">
            {% for tag in entry.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        <div class="content">
            {% autoescape off %}
            {{ entry.html }}
            {% endautoescape %}
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
