{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}


{% block header %}
{% if user %}
<div class="userinfo">
    <a alt="create new entry" href="/editor?blog={{blog.key.id}}"><i class="fa fa-fw fa-plus-square"></i></a>
</div>
{% endif %}
<h1>{{ blog.title }}</h1>
{% endblock %}

{% block main %}
<section class="entries">
    {% for entry in entries %}
    {% include 'article.html' %}
    {% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script src="/static/summary.js"></script>
{% endblock %}
