* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* override normalize */
h1 {
    margin: 0;
}

/* override browser */
ul {
    margin: 0;
}


/* Uses
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html
 */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

main {
    overflow: auto;
    padding: 66px 1em 150px 1em;
    color: #2F3F4F;
}

footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
}

footer img {
    max-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* opera fix */
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

footer, header {
    background: #2F3F4F;
    background: -webkit-linear-gradient(left, #2F3F4F, black);
    background: linear-gradient(to right, #2F3F4F 50%, black 100%);
    color: white;
    width: 100%;
}

footer .logo {
    float: right;
}

footer ul {
    padding-top: 1em;
    padding-left: 1em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    display: inline;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    padding: 10px 1em 0 1em;
}

main {
    padding-left: 1em;
}

.informer {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: yellow;
    border: thin solid red;
    border-radius: 5px;
    float: right;
    width: 33%;
}

.userinfo {
    font-size: 200%;
    float: right;
}

.userinfo a {
    color: white;
    text-decoration: none;
}

.userinfo a:hover {
    text-decoration: underline;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header h1 a:hover {
    text-decoration: underline;
}

#delete_button {
    position: absolute;
    left: -999px;
}

.delete-button:hover {
    cursor: pointer;
}

.errorlist {
    padding-left: 0;
    list-style-type: none;
    color: red;
}

.entrytitle {
    font-size: 2.5em;
}

.entrytitle a {
    text-decoration: none;
    color: #2F3F4F;
}

.entrytitle a:hover {
    text-decoration: underline;
    color: black;
}

.created {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 75%;
}

ul.tags {
    margin-bottom: 1em;
    padding-left: 0;
}

ul.tags:before {
    content: "tags: ";
}

section {
    padding-left: 1em;
    padding-right: 1em;
}

section .content {
    padding-left: 1em;
    padding-right: 1em;
    display: none;
}

.tags li {
    display: inline;
    list-style-type: none;
}

.entrycontrol {
    position: absolute;
    left: 5px;
}

.entrycontrol:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .informer {
        float: none;
        width: 100%;
    }

    header h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


