* {
    box-sizing: border-box;
}

/* override normalize */
h1 {
    margin: 0;
}

/* override browser */
ul {
    margin: 0;
}


/* Uses
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html
 */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

main {
    overflow: auto;
    padding: 50px 1em 150px 1em;
}

footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
}

footer img {
    max-height: 145px; /* making it 150 throws off the sticky footer */
}

/* opera fix */
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

footer, header {
    background: black;
    color: white;
    width: 100%;
}

footer .logo {
    float: right;
}

footer ul {
    padding-top: 1em;
    padding-left: 1em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    display: inline;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    padding: 10px 1em 0 1em;
}

main {
    padding-left: 1em;
}
